* {
  /* colors */
  --color-accent: #803fc2ff;
  --color-accent-highlight: rgb(189, 142, 236);
  --color-background: #e7e8ebff;
  --color-navbar-background: white;
  --color-foreground: #000000ff;
  --color-inactive: rgb(180, 180, 180);
  --color-shadow: rgb(0, 0, 0, 0.7);
  font-size: 24pt;
  font-family: "Lato Light", sans-serif;
}

/* laptop/desktop */
@media only screen and (min-width: 1200px) {
  .root {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header {
    font-size: 3em;
    margin-top: 20vh;
    margin-bottom: 5vh;
  }

  .bio {
    font-size: 1em;
    margin-top: 5vh;
    margin-bottom: 5vh;
    color: #444;
    width: 100%;
    max-width: 1000px;
    text-align: center;
  }

  .button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .social-media {
    margin-bottom: 10vh;
  }

  .social-media__button {
    width: 100%;
    height: 100%;
    max-width: 50px;
    max-height: 50px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .sections {
    margin-top: 10vh;
  }

  .sections__button {
    min-width: 300px;
    font-variant: small-caps;
    font-size: 1.2em;
    letter-spacing: 2px;
    background: none;
    border-width: 0 0 2px 0;
    border-color: var(--color-accent);
  }

  .vdots {
    width: 0;
    border-left: 5px dotted var(--color-accent);
  }

  .current-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .project-showcase {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-showcase:nth-child(odd) {
    background-color: #222;
    color: white;
  }

  .project-showcase:nth-child(even) {
    background-color: transparent;
    color: black;
  }

  .project-showcase__text {
    max-width: 20cm;
    font-size: 0.1em;
  }

  .project-showcase__content-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .project-showcase__content-box:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .project-showcase__content {
    width: 50%;
    max-width: 20cm;
    max-height: 80vh;
    /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center; */
  }

  .c-text--light {
    color: white;
  }

  .c-project-showcase__title {
    color: white;
  }

  .c-project-showcase__separator {
    color: var(--color-accent-highlight);
    letter-spacing: 1cm;
  }

  .c-project-showcase__link {
    color: lightslategray;
    font-style: italic;
    font-size: smaller;
  }

  .c-project-showcase__description {
    color: white;
    font-size: small;
  }
}

/* mobile - portrait/landscape */
@media only screen and (max-width: 1200px) {
}
